body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select:none;
}

.titlebar {
  height: 30px !important;
  z-index: 500 !important;
}

.container-after-titlebar {
  inset: 0px 0px 0px !important;
  position: absolute !important;
  overflow: hidden !important;
}

/**************************************************************/
/* SIDE PANE                                                  */
/**************************************************************/
#pane-library {
  width: 20%;
  box-sizing: border-box;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 501;
}

#pane-library-interior {
  width: 20%;
  box-sizing: border-box;
  position: absolute;
  height: calc(100% - 30px);
  width: 100%;
  top: 30;
  left: 0;
  display: inline-block;
}

#pane-documents {
  width: 20%;
  box-sizing: borderbox;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 20%;
  z-index: 501;
}

#pane-documents-interior {
  width: 20%;
  box-sizing: border-box;
  position: absolute;
  height: calc(100% - 30px);
  width: 100%;
  top: 30;
  left: 0;
  display: inline-block;
}

#pane-editor {
  width: 60%;
  box-sizing: borderbox;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 40%;
  z-index: 501;
}

.button {
  padding: 4px 12px 4px 12px;
  margin: 4px 4px 4px 0px;
  border-radius: 5px;
  z-index: 501;
  font-size: 14px;
  display: inline-block;
  -webkit-app-region: no-drag;
}
