body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select:none;
}

.titlebar {
  height: 30px !important;
  z-index: 500 !important;
}

.container-after-titlebar {
  inset: 0px 0px 0px !important;
  position: absolute !important;
  overflow: hidden !important;
}

/**************************************************************/
/* SIDE PANE                                                  */
/**************************************************************/
#pane-side {
  width: 300px;
  background-color: #ddd;
  height: calc(100vh - 30px);
  position: absolute;
  top: 30;
  left: 0;
  z-index: 501;
}

.button {
  position: absolute;
  top: 5px;
  left: 30px;
  color: black;
  z-index: 501;
  font-size: 20px;
  display: inline-block;
  -webkit-app-region: no-drag;
}
