html {
  background-color: #fff;
}

.button {
  color: #ddd;
  background: #aaa;
  transition: all .25s;
}

.button:hover {
  color: #fff;
  background: #999;
  transition: all .25s;
}

#pane-library-interior {
  background-color: #eee;
  border-right: 2px solid #ddd;
}

#pane-documents-interior {
  background-color: #fff;
  border-right: 2px solid #ddd;
}
