html {
  background-color: #fff;
}

.button {
  color: #ddd;
  background: #999;
}

#pane-library-interior {
  background-color: #eee;
  border-right: 2px solid #ddd;
}

#pane-documents-interior {
  background-color: #fff;
  border-right: 2px solid #ddd;
}
